<form method="POST" action="/robots">
  <input type="text" name="name">
  <input type="text" name="city">
  <input type="text" name="state">
  <input type="text" name="department">
  <input type="submit" value="Create new robot">
</form>