<form method="POST" action="/robots">
  <input type="text" name="robot[name]" value="Derper">Name<br>
  <input type="text" name="robot[city]" value="Denver">City<br>
  <input type="text" name="robot[state]" value="CO">State<br>
  <input type="text" name="robot[department]" value="Robotics">Department<br>
  <input type="submit" value="Create new robot">
</form>