<form method="POST" action="/robots">
  <input type="text" name="name" value="Derper">Name<br>
  <input type="text" name="city" value="Denver">City<br>
  <input type="text" name="state" value="CO">State<br>
  <input type="text" name="department" value="Robotics">Department<br>
  <input type="submit" value="Create new robot">
</form>